*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Noto+Serif+Display:wght@600&family=Oswald:wght@500&family=Shizuru&display=swap');
/* google font famely  */
/* font-family: 'Karla', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Shizuru', cursive; */
.site-title{
    font-family: 'Shizuru', cursive;
    border-radius: 50px;
    background: #2c2c54;
    color:#fff;
}

/* input and buton style  */
.search-container{
    margin:0 auto;
    width: 50%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.search-field{
padding: 10px;
font-size: 18px;
border: 2px solid rgb(2, 51, 51);
border-right: none;
border-top-left-radius: 20px;
color: #fff;
transition: .3s;
}
.search-field:focus{
    outline: none;
    background: #40407a;
}
.search-button{
    padding: 10px 30px;
    font-size: 18px;
    border-left: none;
    border: 2px solid rgb(2, 51, 51);
    border-left: 0;
    border-bottom-right-radius: 20px;
    background: #40407a;
    color: #fff;
    transition: all .3s;
}
.search-button:hover{
    background: #fff;
    color: rgb(2, 51, 51);
}

/* error massage style  */
#error-massage {
  color: red;
  width: 200px;
  margin: auto;
  display: none;
  
}

/*display phone-card style start */
.phone-card{
border: 3px solid rebeccapurple;
margin-bottom: 10px;
padding:10px;
box-shadow: 0 0 10px #2c2c54;
}
.phone-card .display-phone-image{
    max-width: 180px;
    margin: 0 auto;
}
.phone-card span{
    color: #eb4d4b;
    font-family: 'Shizuru', cursive;
}
.phone-card h5{
    font-size: 16px;
    color:#40407a;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.phone-card .search-detail-btn{
background:transparent;
border :0;
border: 2px solid #40407a;
padding: 8px 20px;
border-radius: 30px;
font-size: 15px;
transition: .4s;
}
.phone-card .search-detail-btn:hover{
    background: #40407a;
    color: #fff;
}

/* show phone details css start */
.phone-card .phone-detail-images {
    margin: 0 auto;
  }
.phone-card h4{
    color: #eb4d4b;
    font-size: 30px;
}
.phone-card p{
    color: #eb4d4b;
    font-size: 20px;
    font-weight: bold;
}
.phone-card h4 span{
    color: #40407a;
    font-size: 15px;
}
.phone-card p span{
    color: #40407a;
    font-size: 15px;
    font-family: 'Shizuru', cursive;
}

